//colors

$blue: rgb(0, 121, 255);
$gray: rgb(105, 124, 154);
$grayishblue: rgb(75, 106, 155);
$verydarkblue: rgb(43, 52, 66);
$lightgray: rgb(246, 248, 255);
$verylight: rgb(254, 254, 254);
$white: rgb(255, 255, 255);
$dark: rgb(20, 29, 47);
$darkblue: rgb(30, 42, 71);
      